<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
    <h1>Recommendations for userID: {{ userId }}</h1>

    <br><br><br>
    <p>PART 2</p>

    <table>
        {% for row in data %}
            <br><br><br><br><br><br>
          <ul>
            {% for key, value in row.items %}
                <li>
                    <p>{{ key }}: {{ value }}</p>
                </li>
            {% endfor %}
          </ul>

        {% endfor %}
    </table>


</body>
</html>